/****** Object:  DatabaseRole [Administratorzy]    Script Date: 28.12.2024 3:23:30 ******/
CREATE ROLE [Administratorzy]
GO
/****** Object:  DatabaseRole [Goscie]    Script Date: 28.12.2024 3:23:30 ******/
CREATE ROLE [Goscie]
GO
/****** Object:  DatabaseRole [Klienci]    Script Date: 28.12.2024 3:23:30 ******/
CREATE ROLE [Klienci]
GO
/****** Object:  DatabaseRole [Pracownicy]    Script Date: 28.12.2024 3:23:30 ******/
CREATE ROLE [Pracownicy]
GO
/****** Object:  DatabaseRole [Pracownicy_adm]    Script Date: 28.12.2024 3:23:30 ******/
CREATE ROLE [Pracownicy_adm]
GO
/****** Object:  View [dbo].[v_lock_info]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_lock_info] -- widok wyświetlający stan blokad
AS
SELECT
-- identyfikator sesji procesu, który zgłosił żądanie blokady
request_session_id AS [request_sess_id],
resource_database_id AS [res_db_id], -- identyfikator bazy danych
SUBSTRING(DB.[name], 1, 20) AS [res_db_name], -- nazwa bazy danych
SUBSTRING(resource_type, 1, 10) AS [res_type], -- rodzaj blokowanego zasobu
-- identyfikator obiektu objętego blokadą
ISNULL(CONVERT(varchar(12), OBJ.[object_id]), '') AS [object_id],
-- nazwa obiektu lub typ blokowanego obiektu
SUBSTRING(ISNULL(OBJ.[name], ''), 1, 20) AS [object_name],
-- opis blokowanego zasobu
SUBSTRING(resource_description, 1, 20) AS [res_description],
SUBSTRING(request_mode, 1, 5) AS [request_mode],-- żądany tryb blokady
SUBSTRING(request_status, 1, 5) AS [request_status], -- status obsługi żądania
SUBSTRING(request_owner_type, 1, 30) AS [request_owner_type]-- typ procesu, który zgłosił żądanie blokady
FROM sys.dm_tran_locks AS LOCK
INNER JOIN sys.sysdatabases AS DB
ON LOCK.resource_database_id = DB.[dbid]
LEFT OUTER JOIN sys.objects AS OBJ
ON LOCK.resource_associated_entity_id = OBJ.[object_id]
WHERE (OBJ.[name] IS NULL) -- pominięcie blokad obiektów systemowych oraz bieżącego widoku
 OR ((OBJ.[name] NOT LIKE 'sys%') AND (OBJ.[name] NOT LIKE 'v_lock_info%'));
GO
/****** Object:  Table [dbo].[Kategoria]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoria](
	[IdKategoria] [int] IDENTITY(1,1) NOT NULL,
	[KategoriaNazwa] [nchar](30) NOT NULL,
	[CzenaZaDzien] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoria_Cena_Historia]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoria_Cena_Historia](
	[IdKategoria_Cena_Historia] [int] IDENTITY(1,1) NOT NULL,
	[IdKategoria] [int] NOT NULL,
	[DataGodzZmiany] [datetime] NOT NULL,
	[CenaPoprzednia] [money] NULL,
	[CenaNowa] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKategoria_Cena_Historia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klient]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klient](
	[IdKlient] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [varchar](30) NOT NULL,
	[Nazwisko] [varchar](40) NOT NULL,
	[NrTelefonu] [varchar](20) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Uwagi] [varchar](255) NULL,
	[IdOddzial] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKlient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klient_Kopia]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klient_Kopia](
	[IdKlient] [int] NOT NULL,
	[Imie] [varchar](30) NOT NULL,
	[Nazwisko] [varchar](40) NOT NULL,
	[NrTelefonu] [varchar](20) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Uwagi] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKlient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[IdModel] [int] IDENTITY(1,1) NOT NULL,
	[ModelNazwa] [varchar](5) NOT NULL,
	[IdProducent] [int] NOT NULL,
 CONSTRAINT [PK__Model__C2F000996F1F066A] PRIMARY KEY CLUSTERED 
(
	[IdModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oddzial]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oddzial](
	[IdOddzial] [int] NOT NULL,
	[OddzialNazwa] [nvarchar](50) NOT NULL,
	[OddzialMiasto] [nvarchar](50) NOT NULL,
	[OddziaLokalny] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOddzial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pracownik]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pracownik](
	[IdPracownik] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [varchar](30) NOT NULL,
	[Nazwisko] [varchar](40) NOT NULL,
	[Stanowisko] [varchar](60) NOT NULL,
	[NrTelefonu] [varchar](20) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[IdOddzial] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPracownik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producent]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producent](
	[IdProducent] [int] IDENTITY(1,1) NOT NULL,
	[ProducentNazwa] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Samochod]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Samochod](
	[IdSamochod] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nchar](30) NOT NULL,
	[wymiary] [nchar](30) NOT NULL,
	[masa] [int] NOT NULL,
	[RozstawOsi] [int] NOT NULL,
	[MocSilnika] [int] NOT NULL,
	[Spalanie] [float] NOT NULL,
	[Pojemnosc_Ludzie] [int] NOT NULL,
	[Nosnosc] [float] NOT NULL,
	[ZuzyciePaliwa] [float] NOT NULL,
	[GotowyDoWypozyczenia] [bit] NOT NULL,
	[IdKategoria] [int] NOT NULL,
	[IdModel] [int] NOT NULL,
	[IdOddzial] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSamochod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uzytkownik]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uzytkownik](
	[IdUzytkownik] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [varchar](30) NOT NULL,
	[Nazwisko] [varchar](40) NOT NULL,
	[Konto] [varchar](30) NOT NULL,
	[Haslo] [varchar](100) NOT NULL,
	[DataZarejestrowania] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUzytkownik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wypozyczenie]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wypozyczenie](
	[IdWypozyczenie] [int] IDENTITY(1,1) NOT NULL,
	[IdKlient] [int] NOT NULL,
	[IdPracownik] [int] NULL,
	[IdWypozyczenieStatus] [int] NOT NULL,
	[DataZlorzenia] [date] NOT NULL,
	[KwotaLaczna] [money] NOT NULL,
	[Uwagi] [varchar](255) NULL,
 CONSTRAINT [PK__Wypozycz__17EC2FBF7430A9A5] PRIMARY KEY CLUSTERED 
(
	[IdWypozyczenie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wypozyczenie_Historia]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wypozyczenie_Historia](
	[IdHistoria] [int] IDENTITY(1,1) NOT NULL,
	[IdWypozyczenie] [int] NOT NULL,
	[DataZmiany] [datetime] NOT NULL,
	[IdStatusStary] [int] NULL,
	[IdStatusNowy] [int] NULL,
	[Uzytkownik] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WypozyczenieSamochod]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WypozyczenieSamochod](
	[IdWypozyczenieSamochod] [int] IDENTITY(1,1) NOT NULL,
	[IdWypozyczenie] [int] NOT NULL,
	[IdSamochod] [int] NOT NULL,
	[KwotaLaczna] [money] NOT NULL,
	[DataGodzOd] [datetime] NOT NULL,
	[DataGodzDo] [datetime] NOT NULL,
	[TerminZwrotu] [datetime] NULL,
	[Uwagi] [nchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdWypozyczenieSamochod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WypozyczenieStatus]    Script Date: 28.12.2024 3:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WypozyczenieStatus](
	[IdWypozyczenieStatus] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdWypozyczenieStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kategoria] ON 

INSERT [dbo].[Kategoria] ([IdKategoria], [KategoriaNazwa], [CzenaZaDzien]) VALUES (1, N'Ekonomiczna                   ', 100.0000)
INSERT [dbo].[Kategoria] ([IdKategoria], [KategoriaNazwa], [CzenaZaDzien]) VALUES (2, N'Standardowa                   ', 150.0000)
INSERT [dbo].[Kategoria] ([IdKategoria], [KategoriaNazwa], [CzenaZaDzien]) VALUES (3, N'Kompaktowa                    ', 200.0000)
SET IDENTITY_INSERT [dbo].[Kategoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Klient] ON 

INSERT [dbo].[Klient] ([IdKlient], [Imie], [Nazwisko], [NrTelefonu], [Email], [Uwagi], [IdOddzial]) VALUES (1, N'Jan', N'Kowalski', N'+48 123 456 789', N'jan.kowalski@example.com', NULL, 2)
INSERT [dbo].[Klient] ([IdKlient], [Imie], [Nazwisko], [NrTelefonu], [Email], [Uwagi], [IdOddzial]) VALUES (2, N'Anna', N'Nowak', N'+48 987 654 321', N'anna.nowak@example.com', NULL, 2)
INSERT [dbo].[Klient] ([IdKlient], [Imie], [Nazwisko], [NrTelefonu], [Email], [Uwagi], [IdOddzial]) VALUES (3, N'Piotr', N'Wisniewski', N'+48 456 789 123', N'piotr.wisniewski@example.com', NULL, 2)
SET IDENTITY_INSERT [dbo].[Klient] OFF
GO
SET IDENTITY_INSERT [dbo].[Model] ON 

INSERT [dbo].[Model] ([IdModel], [ModelNazwa], [IdProducent]) VALUES (1, N'Golf', 1)
INSERT [dbo].[Model] ([IdModel], [ModelNazwa], [IdProducent]) VALUES (2, N'Corol', 2)
INSERT [dbo].[Model] ([IdModel], [ModelNazwa], [IdProducent]) VALUES (3, N'Range', 3)
SET IDENTITY_INSERT [dbo].[Model] OFF
GO
INSERT [dbo].[Oddzial] ([IdOddzial], [OddzialNazwa], [OddzialMiasto], [OddziaLokalny]) VALUES (1, N'SQL1', N'Kalisz', 1)
INSERT [dbo].[Oddzial] ([IdOddzial], [OddzialNazwa], [OddzialMiasto], [OddziaLokalny]) VALUES (2, N'SQL2', N'Ostrow Wielkopolski', 0)
GO
SET IDENTITY_INSERT [dbo].[Pracownik] ON 

INSERT [dbo].[Pracownik] ([IdPracownik], [Imie], [Nazwisko], [Stanowisko], [NrTelefonu], [Email], [IdOddzial]) VALUES (1, N'Adam', N'Kaczmarek', N'Manager', N'+48 123 123 123', N'adam.kaczmarek@example.com', 2)
INSERT [dbo].[Pracownik] ([IdPracownik], [Imie], [Nazwisko], [Stanowisko], [NrTelefonu], [Email], [IdOddzial]) VALUES (2, N'Beata', N'Pawlak', N'Assistant', N'+48 321 321 321', N'beata.pawlak@example.com', 2)
INSERT [dbo].[Pracownik] ([IdPracownik], [Imie], [Nazwisko], [Stanowisko], [NrTelefonu], [Email], [IdOddzial]) VALUES (3, N'Cezary', N'Malinowski', N'Clerk', N'+48 456 456 456', N'cezary.malinowski@example.com', 2)
SET IDENTITY_INSERT [dbo].[Pracownik] OFF
GO
SET IDENTITY_INSERT [dbo].[Producent] ON 

INSERT [dbo].[Producent] ([IdProducent], [ProducentNazwa]) VALUES (4, N'Audi')
INSERT [dbo].[Producent] ([IdProducent], [ProducentNazwa]) VALUES (3, N'BMW')
INSERT [dbo].[Producent] ([IdProducent], [ProducentNazwa]) VALUES (1, N'Fiat')
SET IDENTITY_INSERT [dbo].[Producent] OFF
GO
SET IDENTITY_INSERT [dbo].[Samochod] ON 

INSERT [dbo].[Samochod] ([IdSamochod], [Nazwa], [wymiary], [masa], [RozstawOsi], [MocSilnika], [Spalanie], [Pojemnosc_Ludzie], [Nosnosc], [ZuzyciePaliwa], [GotowyDoWypozyczenia], [IdKategoria], [IdModel], [IdOddzial]) VALUES (1, N'Fiat 500                      ', N'3.6m x 1.6m                   ', 900, 2300, 85, 4.8, 4, 200.5, 6, 1, 1, 1, 1)
INSERT [dbo].[Samochod] ([IdSamochod], [Nazwa], [wymiary], [masa], [RozstawOsi], [MocSilnika], [Spalanie], [Pojemnosc_Ludzie], [Nosnosc], [ZuzyciePaliwa], [GotowyDoWypozyczenia], [IdKategoria], [IdModel], [IdOddzial]) VALUES (2, N'Ford Focus                    ', N'4.4m x 1.8m                   ', 1200, 2700, 100, 5.2, 5, 300.5, 6.5, 1, 2, 2, 1)
INSERT [dbo].[Samochod] ([IdSamochod], [Nazwa], [wymiary], [masa], [RozstawOsi], [MocSilnika], [Spalanie], [Pojemnosc_Ludzie], [Nosnosc], [ZuzyciePaliwa], [GotowyDoWypozyczenia], [IdKategoria], [IdModel], [IdOddzial]) VALUES (3, N'BMW X5                        ', N'4.9m x 2.0m                   ', 2100, 2930, 230, 8.5, 5, 500.5, 10, 0, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[Samochod] OFF
GO
SET IDENTITY_INSERT [dbo].[Uzytkownik] ON 

INSERT [dbo].[Uzytkownik] ([IdUzytkownik], [Imie], [Nazwisko], [Konto], [Haslo], [DataZarejestrowania]) VALUES (3, N'Andrzej', N'Nowak', N'anowak', N'$2y$10$OoliXQhN8g8FLoSZ8YjINuLZ.UJUEupNMBB8Zv8c8RFPInzTqC/iG', CAST(N'2024-06-21T04:40:33.090' AS DateTime))
INSERT [dbo].[Uzytkownik] ([IdUzytkownik], [Imie], [Nazwisko], [Konto], [Haslo], [DataZarejestrowania]) VALUES (4, N'Zuzanna', N'Lipinska', N'zlipinska', N'$2y$10$hUu8v.8IGLPhy5DqagL6g.B1dbSJiKNjvz7cpbhDcvJ8gis7kqGPu', CAST(N'2024-06-21T04:40:33.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[Uzytkownik] OFF
GO
SET IDENTITY_INSERT [dbo].[Wypozyczenie] ON 

INSERT [dbo].[Wypozyczenie] ([IdWypozyczenie], [IdKlient], [IdPracownik], [IdWypozyczenieStatus], [DataZlorzenia], [KwotaLaczna], [Uwagi]) VALUES (1, 1, 1, 1, CAST(N'2024-05-01' AS Date), 1100.0000, NULL)
INSERT [dbo].[Wypozyczenie] ([IdWypozyczenie], [IdKlient], [IdPracownik], [IdWypozyczenieStatus], [DataZlorzenia], [KwotaLaczna], [Uwagi]) VALUES (2, 2, 2, 4, CAST(N'2024-05-02' AS Date), 700.0000, NULL)
INSERT [dbo].[Wypozyczenie] ([IdWypozyczenie], [IdKlient], [IdPracownik], [IdWypozyczenieStatus], [DataZlorzenia], [KwotaLaczna], [Uwagi]) VALUES (3, 3, 3, 3, CAST(N'2024-05-03' AS Date), 1750.0000, NULL)
SET IDENTITY_INSERT [dbo].[Wypozyczenie] OFF
GO
SET IDENTITY_INSERT [dbo].[Wypozyczenie_Historia] ON 

INSERT [dbo].[Wypozyczenie_Historia] ([IdHistoria], [IdWypozyczenie], [DataZmiany], [IdStatusStary], [IdStatusNowy], [Uzytkownik]) VALUES (1, 2, CAST(N'2024-12-09T21:58:19.130' AS DateTime), 2, 4, N'DESKTOP-49IMCI6\admin')
INSERT [dbo].[Wypozyczenie_Historia] ([IdHistoria], [IdWypozyczenie], [DataZmiany], [IdStatusStary], [IdStatusNowy], [Uzytkownik]) VALUES (2, 2, CAST(N'2024-12-09T22:00:31.003' AS DateTime), 4, 2, N'DESKTOP-49IMCI6\admin')
INSERT [dbo].[Wypozyczenie_Historia] ([IdHistoria], [IdWypozyczenie], [DataZmiany], [IdStatusStary], [IdStatusNowy], [Uzytkownik]) VALUES (3, 2, CAST(N'2024-12-09T22:00:41.063' AS DateTime), 2, 3, N'DESKTOP-49IMCI6\admin')
SET IDENTITY_INSERT [dbo].[Wypozyczenie_Historia] OFF
GO
SET IDENTITY_INSERT [dbo].[WypozyczenieSamochod] ON 

INSERT [dbo].[WypozyczenieSamochod] ([IdWypozyczenieSamochod], [IdWypozyczenie], [IdSamochod], [KwotaLaczna], [DataGodzOd], [DataGodzDo], [TerminZwrotu], [Uwagi]) VALUES (1, 1, 2, 1100.0000, CAST(N'2024-05-01T10:00:00.000' AS DateTime), CAST(N'2024-05-05T10:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[WypozyczenieSamochod] ([IdWypozyczenieSamochod], [IdWypozyczenie], [IdSamochod], [KwotaLaczna], [DataGodzOd], [DataGodzDo], [TerminZwrotu], [Uwagi]) VALUES (2, 2, 3, 700.0000, CAST(N'2024-06-01T09:00:00.000' AS DateTime), CAST(N'2024-06-03T09:00:00.000' AS DateTime), NULL, N'Test Uwagi 1                                                                                                                                                                                                                                                   ')
INSERT [dbo].[WypozyczenieSamochod] ([IdWypozyczenieSamochod], [IdWypozyczenie], [IdSamochod], [KwotaLaczna], [DataGodzOd], [DataGodzDo], [TerminZwrotu], [Uwagi]) VALUES (3, 3, 4, 1750.0000, CAST(N'2024-07-01T08:00:00.000' AS DateTime), CAST(N'2024-07-05T08:00:00.000' AS DateTime), NULL, N'Test Uwagi 2                                                                                                                                                                                                                                                   ')
SET IDENTITY_INSERT [dbo].[WypozyczenieSamochod] OFF
GO
SET IDENTITY_INSERT [dbo].[WypozyczenieStatus] ON 

INSERT [dbo].[WypozyczenieStatus] ([IdWypozyczenieStatus], [Status]) VALUES (4, N'Anulowane')
INSERT [dbo].[WypozyczenieStatus] ([IdWypozyczenieStatus], [Status]) VALUES (7, N'Dostarczone')
INSERT [dbo].[WypozyczenieStatus] ([IdWypozyczenieStatus], [Status]) VALUES (5, N'Opoznione')
SET IDENTITY_INSERT [dbo].[WypozyczenieStatus] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_Kategoria_KategoriaNazwa]    Script Date: 28.12.2024 3:23:31 ******/
ALTER TABLE [dbo].[Kategoria] ADD  CONSTRAINT [UN_Kategoria_KategoriaNazwa] UNIQUE NONCLUSTERED 
(
	[KategoriaNazwa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_Producent_ProducentNazwa]    Script Date: 28.12.2024 3:23:31 ******/
ALTER TABLE [dbo].[Producent] ADD  CONSTRAINT [UN_Producent_ProducentNazwa] UNIQUE NONCLUSTERED 
(
	[ProducentNazwa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_Uzytkownik_Konto]    Script Date: 28.12.2024 3:23:31 ******/
ALTER TABLE [dbo].[Uzytkownik] ADD  CONSTRAINT [UN_Uzytkownik_Konto] UNIQUE NONCLUSTERED 
(
	[Konto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_WypozyczenieStatus_StatusNazwa]    Script Date: 28.12.2024 3:23:31 ******/
ALTER TABLE [dbo].[WypozyczenieStatus] ADD  CONSTRAINT [UN_WypozyczenieStatus_StatusNazwa] UNIQUE NONCLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Samochod] ADD  CONSTRAINT [DF_Samochod_GotowyDoWypozyczenia]  DEFAULT ((1)) FOR [GotowyDoWypozyczenia]
GO
ALTER TABLE [dbo].[Wypozyczenie] ADD  CONSTRAINT [DF_Wypozyczenie_DataZlorzenia]  DEFAULT (getdate()) FOR [DataZlorzenia]
GO
ALTER TABLE [dbo].[Wypozyczenie_Historia] ADD  DEFAULT (getdate()) FOR [DataZmiany]
GO
ALTER TABLE [dbo].[Wypozyczenie_Historia] ADD  DEFAULT (suser_sname()) FOR [Uzytkownik]
GO
ALTER TABLE [dbo].[Klient]  WITH CHECK ADD  CONSTRAINT [FK_Klient_Oddzial] FOREIGN KEY([IdOddzial])
REFERENCES [dbo].[Oddzial] ([IdOddzial])
GO
ALTER TABLE [dbo].[Klient] CHECK CONSTRAINT [FK_Klient_Oddzial]
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD  CONSTRAINT [FK_Model_Producent] FOREIGN KEY([IdProducent])
REFERENCES [dbo].[Producent] ([IdProducent])
GO
ALTER TABLE [dbo].[Model] CHECK CONSTRAINT [FK_Model_Producent]
GO
ALTER TABLE [dbo].[Pracownik]  WITH CHECK ADD  CONSTRAINT [FK_Pracownik_Oddzial] FOREIGN KEY([IdOddzial])
REFERENCES [dbo].[Oddzial] ([IdOddzial])
GO
ALTER TABLE [dbo].[Pracownik] CHECK CONSTRAINT [FK_Pracownik_Oddzial]
GO
ALTER TABLE [dbo].[Samochod]  WITH CHECK ADD  CONSTRAINT [FK_Samochod_Kategoria] FOREIGN KEY([IdKategoria])
REFERENCES [dbo].[Kategoria] ([IdKategoria])
GO
ALTER TABLE [dbo].[Samochod] CHECK CONSTRAINT [FK_Samochod_Kategoria]
GO
ALTER TABLE [dbo].[Samochod]  WITH CHECK ADD  CONSTRAINT [FK_Samochod_Model] FOREIGN KEY([IdModel])
REFERENCES [dbo].[Model] ([IdModel])
GO
ALTER TABLE [dbo].[Samochod] CHECK CONSTRAINT [FK_Samochod_Model]
GO
ALTER TABLE [dbo].[Samochod]  WITH CHECK ADD  CONSTRAINT [FK_Samochod_Oddzial] FOREIGN KEY([IdOddzial])
REFERENCES [dbo].[Oddzial] ([IdOddzial])
GO
ALTER TABLE [dbo].[Samochod] CHECK CONSTRAINT [FK_Samochod_Oddzial]
GO
ALTER TABLE [dbo].[Wypozyczenie]  WITH CHECK ADD  CONSTRAINT [FK_Wypozyczenie_Klient] FOREIGN KEY([IdKlient])
REFERENCES [dbo].[Klient] ([IdKlient])
GO
ALTER TABLE [dbo].[Wypozyczenie] CHECK CONSTRAINT [FK_Wypozyczenie_Klient]
GO
ALTER TABLE [dbo].[Wypozyczenie]  WITH CHECK ADD  CONSTRAINT [FK_Wypozyczenie_Pracownik] FOREIGN KEY([IdPracownik])
REFERENCES [dbo].[Pracownik] ([IdPracownik])
GO
ALTER TABLE [dbo].[Wypozyczenie] CHECK CONSTRAINT [FK_Wypozyczenie_Pracownik]
GO
ALTER TABLE [dbo].[Wypozyczenie]  WITH CHECK ADD  CONSTRAINT [FK_Wypozyczenie_WypozyczenieStatus] FOREIGN KEY([IdWypozyczenieStatus])
REFERENCES [dbo].[WypozyczenieStatus] ([IdWypozyczenieStatus])
GO
ALTER TABLE [dbo].[Wypozyczenie] CHECK CONSTRAINT [FK_Wypozyczenie_WypozyczenieStatus]
GO
ALTER TABLE [dbo].[WypozyczenieSamochod]  WITH CHECK ADD  CONSTRAINT [FK_WypozyczenieSamochod_Samochod] FOREIGN KEY([IdSamochod])
REFERENCES [dbo].[Samochod] ([IdSamochod])
GO
ALTER TABLE [dbo].[WypozyczenieSamochod] CHECK CONSTRAINT [FK_WypozyczenieSamochod_Samochod]
GO
ALTER TABLE [dbo].[WypozyczenieSamochod]  WITH CHECK ADD  CONSTRAINT [FK_WypozyczenieSamochod1_Wypozyczenie] FOREIGN KEY([IdWypozyczenie])
REFERENCES [dbo].[Wypozyczenie] ([IdWypozyczenie])
GO
ALTER TABLE [dbo].[WypozyczenieSamochod] CHECK CONSTRAINT [FK_WypozyczenieSamochod1_Wypozyczenie]
GO
ALTER TABLE [dbo].[Kategoria]  WITH CHECK ADD  CONSTRAINT [CK_Kategoria_1NF] CHECK  ((NOT [KategoriaNazwa] like '%[!-@]%'))
GO
ALTER TABLE [dbo].[Kategoria] CHECK CONSTRAINT [CK_Kategoria_1NF]
GO
ALTER TABLE [dbo].[Kategoria]  WITH CHECK ADD  CONSTRAINT [CK_Kategoria_CenaZaDzien] CHECK  (([CzenaZaDzien]>=(0)))
GO
ALTER TABLE [dbo].[Kategoria] CHECK CONSTRAINT [CK_Kategoria_CenaZaDzien]
GO
ALTER TABLE [dbo].[Klient]  WITH CHECK ADD  CONSTRAINT [CK_Klient_1NF] CHECK  ((NOT [Imie] like '%[ -@]%' AND NOT [Nazwisko] like '%[!-@]%'))
GO
ALTER TABLE [dbo].[Klient] CHECK CONSTRAINT [CK_Klient_1NF]
GO
ALTER TABLE [dbo].[Klient]  WITH CHECK ADD  CONSTRAINT [CK_Klient_AdresEmail] CHECK  (([Email] like '%_@%_.[a-z][a-z]%' AND NOT [Email] like '% %'))
GO
ALTER TABLE [dbo].[Klient] CHECK CONSTRAINT [CK_Klient_AdresEmail]
GO
ALTER TABLE [dbo].[Klient]  WITH CHECK ADD  CONSTRAINT [CK_Klient_Imie] CHECK  ((NOT [Imie] like '%[0-9]%' AND ascii(upper(substring([Imie],(1),(1))))=ascii(substring([Imie],(1),(1)))))
GO
ALTER TABLE [dbo].[Klient] CHECK CONSTRAINT [CK_Klient_Imie]
GO
ALTER TABLE [dbo].[Klient]  WITH CHECK ADD  CONSTRAINT [CK_Klient_Nazwisko] CHECK  ((NOT [Nazwisko] like '%[0-9]%' AND ascii(upper(substring([Nazwisko],(1),(1))))=ascii(substring([Nazwisko],(1),(1)))))
GO
ALTER TABLE [dbo].[Klient] CHECK CONSTRAINT [CK_Klient_Nazwisko]
GO
ALTER TABLE [dbo].[Klient]  WITH CHECK ADD  CONSTRAINT [CK_Klient_NumerTelefonu] CHECK  (([NrTelefonu] like '+[0-9][0-9] [0-9][0-9][0-9] [0-9][0-9][0-9] [0-9][0-9][0-9]' OR [NrTelefonu] like '+[0-9][0-9] [0-9][0-9] [0-9][0-9][0-9][0-9] [0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Klient] CHECK CONSTRAINT [CK_Klient_NumerTelefonu]
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD  CONSTRAINT [CK_Model_1NF] CHECK  ((NOT [ModelNazwa] like '%[!-@]%'))
GO
ALTER TABLE [dbo].[Model] CHECK CONSTRAINT [CK_Model_1NF]
GO
ALTER TABLE [dbo].[Pracownik]  WITH CHECK ADD  CONSTRAINT [CK_Pracownik_1NF] CHECK  ((NOT [Imie] like '%[ -@]%' AND NOT [Nazwisko] like '%[!-@]%' AND NOT [Stanowisko] like '%[!-@]%'))
GO
ALTER TABLE [dbo].[Pracownik] CHECK CONSTRAINT [CK_Pracownik_1NF]
GO
ALTER TABLE [dbo].[Pracownik]  WITH CHECK ADD  CONSTRAINT [CK_Pracownik_AdresEmail] CHECK  (([Email] like '%_@%_.[a-z][a-z]%' AND NOT [Email] like '% %'))
GO
ALTER TABLE [dbo].[Pracownik] CHECK CONSTRAINT [CK_Pracownik_AdresEmail]
GO
ALTER TABLE [dbo].[Pracownik]  WITH CHECK ADD  CONSTRAINT [CK_Pracownik_Imie] CHECK  ((NOT [Imie] like '%[0-9]%' AND ascii(upper(substring([Imie],(1),(1))))=ascii(substring([Imie],(1),(1)))))
GO
ALTER TABLE [dbo].[Pracownik] CHECK CONSTRAINT [CK_Pracownik_Imie]
GO
ALTER TABLE [dbo].[Pracownik]  WITH CHECK ADD  CONSTRAINT [CK_Pracownik_Nazwisko] CHECK  ((NOT [Nazwisko] like '%[0-9]%' AND ascii(upper(substring([Nazwisko],(1),(1))))=ascii(substring([Nazwisko],(1),(1)))))
GO
ALTER TABLE [dbo].[Pracownik] CHECK CONSTRAINT [CK_Pracownik_Nazwisko]
GO
ALTER TABLE [dbo].[Pracownik]  WITH CHECK ADD  CONSTRAINT [CK_Pracownik_NumerTelefonu] CHECK  (([NrTelefonu] like '+[0-9][0-9] [0-9][0-9][0-9] [0-9][0-9][0-9] [0-9][0-9][0-9]' OR [NrTelefonu] like '+[0-9][0-9] [0-9][0-9] [0-9][0-9][0-9][0-9] [0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Pracownik] CHECK CONSTRAINT [CK_Pracownik_NumerTelefonu]
GO
ALTER TABLE [dbo].[Producent]  WITH CHECK ADD  CONSTRAINT [CK_Producent_1NF] CHECK  ((NOT [ProducentNazwa] like '%[!-@]%'))
GO
ALTER TABLE [dbo].[Producent] CHECK CONSTRAINT [CK_Producent_1NF]
GO
ALTER TABLE [dbo].[Samochod]  WITH CHECK ADD  CONSTRAINT [CK_Samochod_1NF] CHECK  ((NOT [Nazwa] like '%[!-@]%'))
GO
ALTER TABLE [dbo].[Samochod] CHECK CONSTRAINT [CK_Samochod_1NF]
GO
ALTER TABLE [dbo].[Wypozyczenie]  WITH CHECK ADD  CONSTRAINT [CK_Wypozyczenie_DataZlorzenia] CHECK  (([DataZlorzenia]<=getdate()))
GO
ALTER TABLE [dbo].[Wypozyczenie] CHECK CONSTRAINT [CK_Wypozyczenie_DataZlorzenia]
GO
ALTER TABLE [dbo].[Wypozyczenie]  WITH CHECK ADD  CONSTRAINT [CK_Wypozyczenie_KwotaLaczna] CHECK  (([KwotaLaczna]>=(0)))
GO
ALTER TABLE [dbo].[Wypozyczenie] CHECK CONSTRAINT [CK_Wypozyczenie_KwotaLaczna]
GO
ALTER TABLE [dbo].[WypozyczenieSamochod]  WITH CHECK ADD  CONSTRAINT [CK_WypozyczenieSamochod_CenaZamowienia] CHECK  (([KwotaLaczna]>=(0)))
GO
ALTER TABLE [dbo].[WypozyczenieSamochod] CHECK CONSTRAINT [CK_WypozyczenieSamochod_CenaZamowienia]
GO
ALTER TABLE [dbo].[WypozyczenieSamochod]  WITH CHECK ADD  CONSTRAINT [CK_WypozyczenieSamochod_DataGodzOd] CHECK  (([DataGodzOd]<[DataGodzDo]))
GO
ALTER TABLE [dbo].[WypozyczenieSamochod] CHECK CONSTRAINT [CK_WypozyczenieSamochod_DataGodzOd]
GO
ALTER TABLE [dbo].[WypozyczenieStatus]  WITH CHECK ADD  CONSTRAINT [CK_WypozyczenieStatus_1NF] CHECK  ((NOT [Status] like '%[!-@]%'))
GO
ALTER TABLE [dbo].[WypozyczenieStatus] CHECK CONSTRAINT [CK_WypozyczenieStatus_1NF]
GO
/****** Object:  StoredProcedure [dbo].[GetCarBrandsByRentals]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCarBrandsByRentals]
    @DateFrom DATE,
    @DateTo DATE
AS
BEGIN
    SELECT 
        P.ProducentNazwa AS BrandName,
        COUNT(WS.IdWypozyczenieSamochod) AS RentalsCount
    FROM 
        WypozyczenieSamochod WS
    INNER JOIN 
        Samochod S ON WS.IdSamochod = S.IdSamochod
    INNER JOIN 
        Model M ON S.IdModel = M.IdModel
    INNER JOIN 
        Producent P ON M.IdProducent = P.IdProducent
    WHERE 
        WS.DataGodzOd BETWEEN @DateFrom AND @DateTo
    GROUP BY 
        P.ProducentNazwa
    ORDER BY 
        RentalsCount DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[GetClientsOrdersSummary]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetClientsOrdersSummary]
    @DateFrom DATE,
    @DateTo DATE,
    @MinTotalValue MONEY
AS
BEGIN
    SELECT 
        K.IdKlient AS ClientId,
        K.Imie AS FirstName,
        K.Nazwisko AS LastName,
        COUNT(W.IdWypozyczenie) AS OrdersCount,
        SUM(W.KwotaLaczna) AS TotalValue
    FROM 
        Klient K
    INNER JOIN 
        Wypozyczenie W ON K.IdKlient = W.IdKlient
    WHERE 
        W.DataZlorzenia BETWEEN @DateFrom AND @DateTo
    GROUP BY 
        K.IdKlient, K.Imie, K.Nazwisko
    HAVING 
        SUM(W.KwotaLaczna) >= @MinTotalValue
    ORDER BY 
        TotalValue DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTopEmployeesByOrders]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTopEmployeesByOrders]
    @DateFrom DATE,
    @DateTo DATE,
    @MinOrdersCount INT
AS
BEGIN
    SELECT 
        P.IdPracownik AS EmployeeId,
        P.Imie AS FirstName,
        P.Nazwisko AS LastName,
        COUNT(W.IdWypozyczenie) AS OrdersCount
    FROM 
        Pracownik P
    INNER JOIN 
        Wypozyczenie W ON P.IdPracownik = W.IdPracownik
    WHERE 
        W.DataZlorzenia BETWEEN @DateFrom AND @DateTo
    GROUP BY 
        P.IdPracownik, P.Imie, P.Nazwisko
    HAVING 
        COUNT(W.IdWypozyczenie) >= @MinOrdersCount
    ORDER BY 
        OrdersCount DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[Kategoria_Delete]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Kategoria_Delete]
    @IdKategoria int
AS
BEGIN
    DELETE FROM dbo.Kategoria
    WHERE IdKategoria = @IdKategoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[Kategoria_Insert]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Kategoria_Insert]
    @KategoriaNazwa nchar(30),
    @CzenaZaDzien money
AS
BEGIN
    INSERT INTO dbo.Kategoria (KategoriaNazwa, CzenaZaDzien)
    VALUES (@KategoriaNazwa, @CzenaZaDzien);
END;
GO
/****** Object:  StoredProcedure [dbo].[Kategoria_SearchByCenaZaDzien]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Kategoria_SearchByCenaZaDzien]
@Par_CenaFrom money,
@Par_CenaTo money
AS
BEGIN
    SELECT * 
    FROM dbo.Kategoria
    WHERE CzenaZaDzien BETWEEN @Par_CenaFrom AND @Par_CenaTo;
END;
GO
/****** Object:  StoredProcedure [dbo].[Kategoria_Update]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Kategoria_Update]
    @IdKategoria int,
    @KategoriaNazwa nchar(30),
    @CzenaZaDzien money
AS
BEGIN
    UPDATE dbo.Kategoria
    SET KategoriaNazwa = @KategoriaNazwa,
        CzenaZaDzien = @CzenaZaDzien
    WHERE IdKategoria = @IdKategoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[Kategoria_ZmienCena]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Kategoria_ZmienCena]
@Par_IdKategoria int,
@Par_KategoriaNazwa nchar(30),
@Par_CzenaZaDzien money
AS
BEGIN
SET XACT_ABORT ON;
BEGIN TRANSACTION

DECLARE @Var_CenaPoprzednia money;

-- PobraniePoprzedniejCeny --

SELECT @Var_CenaPoprzednia = CzenaZaDzien
FROM dbo.Kategoria
WHERE IdKategoria = @Par_IdKategoria

-- Modyfikacja danych --
UPDATE dbo.Kategoria
SET KategoriaNazwa = @Par_KategoriaNazwa, 
	CzenaZaDzien = @Par_CzenaZaDzien
WHERE IdKategoria = @Par_IdKategoria;

-- Zapiesanie wiersza w tabeli historii --
IF ((@Var_CenaPoprzednia IS NOT NULL) AND (@Var_CenaPoprzednia <> @Par_CzenaZaDzien))
	INSERT  dbo.Kategoria_Cena_Historia
	(IdKategoria, DataGodzZmiany, CenaPoprzednia, CenaNowa)
	VALUES
	(@Par_IdKategoria, GETDATE(), @Var_CenaPoprzednia, @Par_CzenaZaDzien);

IF(@@ERROR <> 0)
BEGIN
	RAISERROR('ZmienCena kategoria error', 16, 1);
	ROLLBACK TRANSACTION
END
ELSE
	COMMIT TRANSACTION
END;
GO
/****** Object:  StoredProcedure [dbo].[Klient_Archiwizuj]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Klient_Archiwizuj]
@Par_IdKlient int
AS
BEGIN
SET XACT_ABORT ON;
BEGIN TRANSACTION

--kopiowanie--
INSERT dbo.Klient_Kopia
(IdKlient, Imie, Nazwisko, NrTelefonu, Email, Uwagi)
SELECT IdKlient, Imie, Nazwisko, NrTelefonu, Email, Uwagi
FROM dbo.Klient
WHERE IdKlient = @Par_IdKlient;

--usuniencie--
DELETE dbo.Klient
WHERE IdKlient = @Par_IdKlient;

IF(@@ERROR <> 0)
BEGIN
	RAISERROR('Archiwizacja danyh klienta error', 16, 1);
	ROLLBACK TRANSACTION
END
ELSE
	COMMIT TRANSACTION
END;
GO
/****** Object:  StoredProcedure [dbo].[Klient_Delete]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Klient_Delete]
    @IdKlient int
AS
BEGIN
    DELETE FROM dbo.Klient
    WHERE IdKlient = @IdKlient;
END;
GO
/****** Object:  StoredProcedure [dbo].[Klient_Insert]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Klient_Insert]
    @Imie varchar(30),
    @Nazwisko varchar(40),
    @NrTelefonu varchar(20),
    @Email varchar(100),
    @Uwagi varchar(255) = NULL
AS
BEGIN
    INSERT INTO dbo.Klient (Imie, Nazwisko, NrTelefonu, Email, Uwagi)
    VALUES (@Imie, @Nazwisko, @NrTelefonu, @Email, @Uwagi);
END;
GO
/****** Object:  StoredProcedure [dbo].[Klient_SearchByLastName]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Klient_SearchByLastName]
@Par_LastName varchar(40)
AS
BEGIN
    SELECT * 
    FROM dbo.Klient
    WHERE Nazwisko LIKE '%' + @Par_LastName + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[Klient_SearchByPattern]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Klient_SearchByPattern]
    @Par_Pattern nvarchar(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdKlient,
        Imie,
        Nazwisko,
        NrTelefonu,
        Email,
        Uwagi
    FROM dbo.Klient
    WHERE (Imie LIKE '%' + @Par_Pattern + '%' OR Nazwisko LIKE '%' + @Par_Pattern + '%' OR NrTelefonu LIKE '%' + @Par_Pattern + '%' OR Email LIKE '%' + @Par_Pattern + '%')
END;
GO
/****** Object:  StoredProcedure [dbo].[Klient_Update]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Klient_Update]
    @IdKlient int,
    @Imie varchar(30),
    @Nazwisko varchar(40),
    @NrTelefonu varchar(20),
    @Email varchar(100),
    @Uwagi varchar(255) = NULL
AS
BEGIN
    UPDATE dbo.Klient
    SET Imie = @Imie,
        Nazwisko = @Nazwisko,
        NrTelefonu = @NrTelefonu,
        Email = @Email,
        Uwagi = @Uwagi
    WHERE IdKlient = @IdKlient;
END;
GO
/****** Object:  StoredProcedure [dbo].[Model_Delete]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Model_Delete]
    @IdModel int
AS
BEGIN
    DELETE FROM dbo.Model
    WHERE IdModel = @IdModel;
END;
GO
/****** Object:  StoredProcedure [dbo].[Model_Insert]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Model_Insert]
	@IdModel int,
    @ModelNazwa varchar(5),
    @IdProducent int
AS
BEGIN
    INSERT INTO dbo.Model (IdModel, ModelNazwa, IdProducent)
    VALUES (@IdModel, @ModelNazwa, @IdProducent);
END;
GO
/****** Object:  StoredProcedure [dbo].[Model_Update]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Model_Update]
    @IdModel int,
    @ModelNazwa varchar(5),
    @IdProducent int
AS
BEGIN
    UPDATE dbo.Model
    SET ModelNazwa = @ModelNazwa,
        IdProducent = @IdProducent
    WHERE IdModel = @IdModel;
END;
GO
/****** Object:  StoredProcedure [dbo].[Pracownik_Delete]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Pracownik_Delete]
    @IdPracownik int
AS
BEGIN
    DELETE FROM dbo.Pracownik
    WHERE IdPracownik = @IdPracownik;
END;
GO
/****** Object:  StoredProcedure [dbo].[Pracownik_Insert]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pracownik_Insert]
    @Imie varchar(30),
    @Nazwisko varchar(40),
    @Stanowisko varchar(60),
    @NrTelefonu varchar(20),
    @Email varchar(100)
AS
BEGIN
    INSERT INTO dbo.Pracownik (Imie, Nazwisko, Stanowisko, NrTelefonu, Email)
    VALUES (@Imie, @Nazwisko, @Stanowisko, @NrTelefonu, @Email);
END;
GO
/****** Object:  StoredProcedure [dbo].[Pracownik_SearchById]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pracownik_SearchById]
@Par_IdPracownik int
AS
BEGIN
    SELECT * 
    FROM dbo.Pracownik
    WHERE IdPracownik = @Par_IdPracownik;
END;
GO
/****** Object:  StoredProcedure [dbo].[Pracownik_Update]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Pracownik_Update]
    @IdPracownik int,
    @Imie varchar(30),
    @Nazwisko varchar(40),
    @Stanowisko varchar(60),
    @NrTelefonu varchar(20),
    @Email varchar(100)
AS
BEGIN
    UPDATE dbo.Pracownik
    SET Imie = @Imie,
        Nazwisko = @Nazwisko,
        Stanowisko = @Stanowisko,
        NrTelefonu = @NrTelefonu,
        Email = @Email
    WHERE IdPracownik = @IdPracownik;
END;
GO
/****** Object:  StoredProcedure [dbo].[Producent_Delete]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Producent_Delete]
    @IdProducent int
AS
BEGIN
    DELETE FROM dbo.Producent
    WHERE IdProducent = @IdProducent;
END;
GO
/****** Object:  StoredProcedure [dbo].[Producent_Insert]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Producent_Insert]
    @ProducentNazwa varchar(30)
AS
BEGIN
    INSERT INTO dbo.Producent (ProducentNazwa)
    VALUES (@ProducentNazwa);
END;
GO
/****** Object:  StoredProcedure [dbo].[Producent_Update]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Producent_Update]
    @IdProducent int,
    @ProducentNazwa varchar(30)
AS
BEGIN
    UPDATE dbo.Producent
    SET ProducentNazwa = @ProducentNazwa
    WHERE IdProducent = @IdProducent;
END;
GO
/****** Object:  StoredProcedure [dbo].[Ranking_Samochodow_Po_Ilosci_Wypozyczen]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ranking_Samochodow_Po_Ilosci_Wypozyczen]
    @MinIloscWypozyczen INT
AS
BEGIN
    SELECT 
        DENSE_RANK() OVER (ORDER BY COUNT(WS.IdWypozyczenieSamochod) DESC) AS Ranking,
        S.Nazwa AS SamochodNazwa,
        COUNT(WS.IdWypozyczenieSamochod) AS IloscWypozyczen
    FROM 
        WypozyczenieSamochod WS
    INNER JOIN 
        Samochod S ON WS.IdSamochod = S.IdSamochod
    INNER JOIN 
        Wypozyczenie W ON WS.IdWypozyczenie = W.IdWypozyczenie
    GROUP BY 
        S.Nazwa
    HAVING 
        COUNT(WS.IdWypozyczenieSamochod) >= @MinIloscWypozyczen
    ORDER BY 
        IloscWypozyczen DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[Samochod_Delete]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Samochod_Delete]
    @IdSamochod int
AS
BEGIN
    DELETE FROM dbo.Samochod
    WHERE IdSamochod = @IdSamochod;
END;
GO
/****** Object:  StoredProcedure [dbo].[Samochod_Insert]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Samochod_Insert]
    @Nazwa nchar(30),
    @wymiary nchar(30),
    @masa int,
    @RozstawOsi int,
    @MocSilnika int,
    @Spalanie float,
    @Pojemnosc_Ludzie int,
    @Nosnosc float,
    @ZuzyciePaliwa float,
    @StanMagazynowy bit,
    @IdKategoria int,
    @IdModel int
AS
BEGIN
    INSERT INTO dbo.Samochod (Nazwa, wymiary, masa, RozstawOsi, MocSilnika, Spalanie, Pojemnosc_Ludzie, Nosnosc, ZuzyciePaliwa, GotowyDoWypozyczenia, IdKategoria, IdModel)
    VALUES (@Nazwa, @wymiary, @masa, @RozstawOsi, @MocSilnika, @Spalanie, @Pojemnosc_Ludzie, @Nosnosc, @ZuzyciePaliwa, @StanMagazynowy, @IdKategoria, @IdModel);
END;
GO
/****** Object:  StoredProcedure [dbo].[Samochod_Update]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Samochod_Update]
    @IdSamochod int,
    @Nazwa nchar(30),
    @wymiary nchar(30),
    @masa int,
    @RozstawOsi int,
    @MocSilnika int,
    @Spalanie float,
    @Pojemnosc_Ludzie int,
    @Nosnosc float,
    @ZuzyciePaliwa float,
    @StanMagazynowy bit,
    @IdKategoria int,
    @IdModel int
AS
BEGIN
    UPDATE dbo.Samochod
    SET Nazwa = @Nazwa,
        wymiary = @wymiary,
        masa = @masa,
        RozstawOsi = @RozstawOsi,
        MocSilnika = @MocSilnika,
        Spalanie = @Spalanie,
        Pojemnosc_Ludzie = @Pojemnosc_Ludzie,
        Nosnosc = @Nosnosc,
        ZuzyciePaliwa = @ZuzyciePaliwa,
        GotowyDoWypozyczenia = @StanMagazynowy,
        IdKategoria = @IdKategoria,
        IdModel = @IdModel
    WHERE IdSamochod = @IdSamochod;
END;
GO
/****** Object:  StoredProcedure [dbo].[SELECT_Pracownik_By_Ilosc_Wypozyczen]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT_Pracownik_By_Ilosc_Wypozyczen]
    @Par_DataOd DATE,
    @Par_DataDo DATE,
    @Par_Ilosc_Wypozyczen SMALLINT
AS
BEGIN
    SELECT 
        P.Imie, 
        P.Nazwisko, 
        COUNT(W.IdWypozyczenie) AS LiczbaZamowien
    FROM 
        Wypozyczenie W
    INNER JOIN 
        Pracownik P ON W.IdPracownik = P.IdPracownik
    WHERE 
        W.DataZlorzenia BETWEEN @Par_DataOd AND @Par_DataDo
    GROUP BY 
        P.Imie, P.Nazwisko
    HAVING 
        COUNT(W.IdWypozyczenie) >= @Par_Ilosc_Wypozyczen
    ORDER BY 
        LiczbaZamowien DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SELECT_Producent_By_Wypozyczenia]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT_Producent_By_Wypozyczenia]
    @Par_DataOd DATE,
    @Par_DataDo DATE
AS
BEGIN
    SELECT 
        P.ProducentNazwa, 
        COUNT(WS.IdWypozyczenieSamochod) AS LiczbaWypozyczen
    FROM 
        WypozyczenieSamochod WS
    INNER JOIN 
        Wypozyczenie W ON WS.IdWypozyczenie = W.IdWypozyczenie
    INNER JOIN 
        Samochod S ON WS.IdSamochod = S.IdSamochod
    INNER JOIN 
        Model M ON S.IdModel = M.IdModel
    INNER JOIN 
        Producent P ON M.IdProducent = P.IdProducent
    WHERE 
        W.DataZlorzenia BETWEEN @Par_DataOd AND @Par_DataDo
    GROUP BY 
        P.ProducentNazwa
    ORDER BY 
        LiczbaWypozyczen DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[Wypozyczenie_Delete]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Wypozyczenie_Delete]
    @IdWypozyczenie int
AS
BEGIN
    DELETE FROM dbo.Wypozyczenie
    WHERE IdWypozyczenie = @IdWypozyczenie;
END;
GO
/****** Object:  StoredProcedure [dbo].[Wypozyczenie_Insert]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Wypozyczenie_Insert]
    @IdKlient int,
    @IdPracownik int,
    @IdWypozyczenieStatus int,
    @DataZlorzenia date,
    @KwotaLaczna money,
    @Uwagi varchar(255) = NULL
AS
BEGIN
    INSERT INTO dbo.Wypozyczenie (IdKlient, IdPracownik, IdWypozyczenieStatus, DataZlorzenia, KwotaLaczna, Uwagi)
    VALUES (@IdKlient, @IdPracownik, @IdWypozyczenieStatus, @DataZlorzenia, @KwotaLaczna, @Uwagi);
END;
GO
/****** Object:  StoredProcedure [dbo].[Wypozyczenie_SearchByDate]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Wypozyczenie_SearchByDate]
@Par_DataFrom datetime,
@Par_DataTo datetime
AS
BEGIN
    SELECT * 
    FROM dbo.Wypozyczenie
    WHERE DataZlorzenia BETWEEN @Par_DataFrom AND @Par_DataTo;
END;
GO
/****** Object:  StoredProcedure [dbo].[Wypozyczenie_Update]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Wypozyczenie_Update]
    @IdWypozyczenie int,
    @IdKlient int,
    @IdPracownik int,
    @IdWypozyczenieStatus int,
    @DataZlorzenia date,
    @KwotaLaczna money,
    @Uwagi varchar(255) = NULL
AS
BEGIN
    UPDATE dbo.Wypozyczenie
    SET IdKlient = @IdKlient,
        IdPracownik = @IdPracownik,
        IdWypozyczenieStatus = @IdWypozyczenieStatus,
        DataZlorzenia = @DataZlorzenia,
        KwotaLaczna = @KwotaLaczna,
        Uwagi = @Uwagi
    WHERE IdWypozyczenie = @IdWypozyczenie;
END;
GO
/****** Object:  StoredProcedure [dbo].[WypozyczenieSamochod_Edytuj]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WypozyczenieSamochod_Edytuj]
@Par_IdWypozyczenieSamochod int,
@Par_IdWypozyczenie int, 
@Par_IdSamochod int, 
@Par_KwotaLaczna money, 
@Par_DataGodzOd datetime, 
@Par_DataGodzDo datetime, 
@Par_TerminZwrotu datetime, 
@Par_StatusZamowienia int,
@Par_Uwagi nchar(255)
AS
BEGIN
SET XACT_ABORT ON;
BEGIN TRANSACTION

DECLARE @Var_GotowyDoWypozyczenia bit;
DECLARE @Var_CenaZaDzien money;
DECLARE @Var_OldIdSamochod int;

SELECT @Var_OldIdSamochod = IdSamochod
FROM dbo.WypozyczenieSamochod
WHERE IdWypozyczenie = @Par_IdWypozyczenie;

IF (@Par_IdSamochod != @Var_OldIdSamochod)
BEGIN
    UPDATE dbo.Samochod
    SET GotowyDoWypozyczenia = 1
    WHERE IdSamochod = @Var_OldIdSamochod;
END

SELECT @Var_GotowyDoWypozyczenia = GotowyDoWypozyczenia
FROM dbo.Samochod
WHERE IdSamochod = @Par_IdSamochod;

	SELECT @Var_CenaZaDzien = k.CzenaZaDzien
	FROM dbo.Kategoria k
	JOIN dbo.Samochod s ON k.IdKategoria = s.IdKategoria
	WHERE s.IdSamochod = @Par_IdSamochod;

	SELECT @Par_KwotaLaczna = @Par_KwotaLaczna + (@Var_CenaZaDzien * (DATEDIFF(HOUR, @Par_DataGodzOd, @Par_DataGodzDo) / 24.0));

	UPDATE dbo.WypozyczenieSamochod
	SET IdWypozyczenie = @Par_IdWypozyczenie,
		IdSamochod = @Par_IdSamochod,
		KwotaLaczna = @Par_KwotaLaczna,
		DataGodzOd = @Par_DataGodzOd,
		DataGodzDo = @Par_DataGodzDo,
		TerminZwrotu = @Par_TerminZwrotu,
		Uwagi = @Par_Uwagi
	WHERE IdWypozyczenieSamochod = @Par_IdWypozyczenieSamochod;

	UPDATE dbo.Wypozyczenie
	SET KwotaLaczna = @Par_KwotaLaczna,
		IdWypozyczenieStatus = @Par_StatusZamowienia
	WHERE IdWypozyczenie = @Par_IdWypozyczenie;

	IF((@Par_StatusZamowienia != 3) AND (@Par_StatusZamowienia! = 8) AND (@Par_StatusZamowienia! = 4))
	BEGIN
		UPDATE dbo.Samochod
		SET GotowyDoWypozyczenia = 0
		WHERE IdSamochod = @Par_IdSamochod;
	END

IF(@@ERROR <> 0)
BEGIN
	RAISERROR('ERROR WypozyczenieSamochod', 16, 1);
	ROLLBACK TRANSACTION
END
ELSE
	COMMIT TRANSACTION
END;
GO
/****** Object:  StoredProcedure [dbo].[WypozyczenieSamochod_Wstaw]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WypozyczenieSamochod_Wstaw]
@Par_IdWypozyczenie int, 
@Par_IdSamochod int, 
@Par_KwotaLaczna money, 
@Par_DataGodzOd datetime, 
@Par_DataGodzDo datetime, 
@Par_TerminZwrotu datetime, 
@Par_StatusZamowienia int,
@Par_Uwagi nchar(255)
AS
BEGIN
SET XACT_ABORT ON;
BEGIN TRANSACTION

DECLARE @Var_GotowyDoWypozyczenia bit;
DECLARE @Var_CenaZaDzien money;

SELECT @Var_GotowyDoWypozyczenia = GotowyDoWypozyczenia
FROM dbo.Samochod
WHERE IdSamochod = @Par_IdSamochod

IF(@Var_GotowyDoWypozyczenia = 1)
BEGIN
	SELECT @Var_CenaZaDzien = k.CzenaZaDzien
	FROM dbo.Kategoria k
	JOIN dbo.Samochod s ON k.IdKategoria = s.IdKategoria
	WHERE s.IdSamochod = @Par_IdSamochod;

	SELECT @Par_KwotaLaczna = @Par_KwotaLaczna + (@Var_CenaZaDzien * (DATEDIFF(HOUR, @Par_DataGodzOd, @Par_DataGodzDo) / 24.0));

	INSERT dbo.WypozyczenieSamochod
	(IdWypozyczenie, IdSamochod, KwotaLaczna, DataGodzOd, DataGodzDo, TerminZwrotu, Uwagi)
	VALUES
	(@Par_IdWypozyczenie, @Par_IdSamochod, @Par_KwotaLaczna, @Par_DataGodzOd, @Par_DataGodzDo, @Par_TerminZwrotu, @Par_Uwagi)

	UPDATE dbo.Wypozyczenie
	SET KwotaLaczna = @Par_KwotaLaczna
	WHERE IdWypozyczenie = @Par_IdWypozyczenie;

	--Zmniejszenie stanu magazynowego--
	IF((@Par_StatusZamowienia != 3) AND (@Par_StatusZamowienia! = 8) AND (@Par_StatusZamowienia! = 8))
	BEGIN
		UPDATE dbo.Samochod
		SET GotowyDoWypozyczenia = 0
		WHERE IdSamochod = @Par_IdSamochod;
	END
END
IF(@@ERROR <> 0)
BEGIN
	RAISERROR('Synchronizacja WypozyczenieSamochod error', 16, 1);
	ROLLBACK TRANSACTION
END
ELSE
	COMMIT TRANSACTION
END;
GO
/****** Object:  StoredProcedure [dbo].[WypozyczenieStatus_Delete]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WypozyczenieStatus_Delete]
    @IdWypozyczenieStatus int
AS
BEGIN
    DELETE FROM dbo.WypozyczenieStatus
    WHERE IdWypozyczenieStatus = @IdWypozyczenieStatus;
END;
GO
/****** Object:  StoredProcedure [dbo].[WypozyczenieStatus_Insert]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WypozyczenieStatus_Insert]
    @Status varchar(30)
AS
BEGIN
    INSERT INTO dbo.WypozyczenieStatus ([Status])
    VALUES (@Status);
END;
GO
/****** Object:  StoredProcedure [dbo].[WypozyczenieStatus_Update]    Script Date: 28.12.2024 3:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WypozyczenieStatus_Update]
    @IdWypozyczenieStatus int,
    @Status varchar(30)
AS
BEGIN
    UPDATE dbo.WypozyczenieStatus
    SET [Status] = @Status
    WHERE IdWypozyczenieStatus = @IdWypozyczenieStatus;
END;
GO
